header{
    background-color: #FFFFF4;
}

h1, h4, h5{
    color: #363958;
    
}
h3{
    color: #76C27E;
}
.backpack-moon button{
    background-color: #363958;
    color:white;
}
#shopping{
    padding: 50px 0;
}
.shopping-icon-img{
    width: 80px;
}
.backpack-card{
    border: 0;
    
    
}
.backpack-photo{
    background-color: #F1F1F1;
    border-radius: 20px;
    padding: 0 10px;
}
.backpack-footer{
    background-color: #fff;
    border: none;
}
.backpack-footer button{
    background-color: #363958;
    color:white;
    padding:5px 10px;
}

#backpack{
    margin-top: 100px;
    margin-bottom: 100px;
}

footer{
    background-color: #FFFFF4;
    padding-top: 50px;

}
footer a{
    text-decoration: none;
    color: black;
}
.footer-row{
    margin-top: 50px;
}
.extra-col2{
    margin-top: 20px;
}

